@import "setting/**";
@import "function/**";
@import "foundation/**";
@import "object/layout/**";
@import "object/component/**";
@import "object/project/**";
@import "wordpress/**";
@import "utility/**";
body {
    font-size: rem(16);
    @include mq('sp') {
        font-size: rem(14);
    }
}

main {
    overflow: hidden;
}