.p-access-item__map {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &::after {
        position: absolute;
        content: "";
        border: 8px solid $text-light;
        width: 101%;
        height: 101%;
        top: 0;
        left: 0;
    }
    @include mq('sp') {
        padding-top: 54.9406%;
        &::after {
            border: 5px solid $text-light;
        }
    }
}

.p-access-item__info {
    margin-top: rem(40);
    display: grid;
    gap: rem(40);
    grid-template-columns: 1fr 1fr;
    @include mq('sp') {
        margin-top: rem(46);
        gap: rem(20);
        grid-template-columns: 1fr;
    }
}

.p-access-item__items {
    display: grid;
    gap: rem(20);
    grid-template-columns: 1fr;
    @include mq('sp') {
        gap: rem(20);
        // grid-template-columns: 1fr;
    }
}

.p-access-item__item {
    display: flex;
    justify-content: start;
    padding-bottom: rem(12);
    border-bottom: 1px solid $text-dark;
    font-size: rem(14);
    font-weight: 700;
    line-height: (24 / 14);
    @include mq('sp') {
        padding-bottom: rem(10);
    }
}

.p-access-item__term {
    width: rem(80);
}

.p-access-item__description {
    width: calc(100% - #{rem(80)});
}