.p-drink-menu {
    display: grid;
    gap: rem(48);
    grid-template-columns: rem(343) 1fr 1fr 1fr;
    @include mq('sp') {
        gap: rem(40);
        grid-template-columns: 1fr;
    }
}

.p-drink-menu__img {
    width: 100%;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        border: 8px solid $text-light;
        width: 101%;
        height: 101%;
        top: 0;
        left: 0;
    }
    img {
        aspect-ratio: 1;
        object-fit: cover;
        width: 100%;
    }
}

.p-drink-menu__block {}

.p-drink-menu__heading {
    font-weight: 700;
    padding-bottom: rem(12);
    border-bottom: 1px solid $text-dark;
    @include mq('sp') {
        font-size: rem(16);
    }
}

.p-drink-menu__items {
    margin-top: rem(12);
}

.p-drink-menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(8);
    font-size: rem(14);
    font-weight: 700;
}

.p-drink-menu__price {
    font-size: rem(20);
    font-family: $font-family-third;
    font-weight: 400;
}