.p-footer-access {
    background: $base-color;
}

.p-footer-access__inner {
    padding-top: rem(80);
    padding-bottom: rem(80);
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: rem(374);
        height: rem(359);
        background-image: url(../img/bg_bread.png);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
        right: rem(-353);
        top: rem(-185);
        z-index: 3;
    }
    @include mq('sp') {
        padding-top: rem(88);
        &::after {
            width: rem(188);
            height: rem(180);
            right: rem(-35);
            top: rem(-102);
        }
    }
}

.p-footer-access__title {
    text-align: center;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: rem(232);
        height: rem(200);
        background-image: url(../img/img_balloon-access.svg);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
        right: calc(50% + #{rem(72)});
        top: rem(-137);
        z-index: 3;
    }
    @include mq('sp') {
        &::after {
            width: rem(200);
            height: rem(173);
            left: rem(-51);
            right: initial;
            top: rem(-131);
        }
    }
}

.p-footer-access__item {
    margin-top: rem(40);
}