.p-footer-access {
    background: $base-color;
}

.p-footer-access__inner {
    padding-top: rem(80);
    padding-bottom: rem(80);
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: rem(374);
        height: rem(359);
        background-image: url(../img/bg_bread.png);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
        right: rem(-150);
        top: rem(-150);
        z-index: 3;
    }
    @include mq('sp') {
        &::after {
            width: rem(188);
            height: rem(180);
            right: rem(-40);
            top: rem(-80);
        }
    }
}

.p-footer-access__title {
    text-align: center;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: rem(232);
        height: rem(200);
        background-image: url(../img/img_balloon-access.svg);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
        right: calc(50% + #{rem(100)});
        top: rem(-105);
        z-index: 3;
    }
    @include mq('sp') {
        &::after {
            width: rem(200);
            height: rem(173);
            left: rem(-60);
            right: initial;
            top: rem(-130);
        }
    }
}

.p-footer-access__item {
    margin-top: rem(40);
}