.p-gift {}

.p-gift__inner {}

.p-gift__items {
    display: grid;
    gap: rem(41) rem(40);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include mq('sp') {
        gap: rem(40) rem(24);
        grid-template-columns: 1fr 1fr;
    }
}

.p-gift__item {
    &:first-child {
        grid-column: 1/3;
        grid-row: 1/3;
    }
}

.p-gift__wrapping {
    margin-top: rem(100);
    @include mq('sp') {
        margin-top: rem(60);
    }
}