.p-grand-menu {}

.p-grand-menu__img {
    width: 100%;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        border: 8px solid $text-light;
        width: 101%;
        height: 101%;
        top: 0;
        left: 0;
    }
    img {
        aspect-ratio: 1;
        object-fit: cover;
        width: 100%;
    }
    @include mq('sp') {
        &::after {
            border: 5px solid $text-light;
        }
    }
}

.p-grand-menu__title {
    margin-top: rem(15);
    font-size: rem(20);
    font-weight: 700;
    line-height: (29 / 20);
    @include mq('sp') {
        margin-top: rem(8);
        font-size: rem(14);
        line-height: (20 / 14);
    }
}

.p-grand-menu__price {
    font-family: $font-family-third;
    font-size: rem(32);
    line-height: (44 / 32);
    @include mq('sp') {
        font-size: rem(24);
        line-height: (33 / 24);
    }
}