.p-menu {}

.p-menu__tabs {
    display: flex;
    gap: rem(14);
    justify-content: center;
    align-items: center;
    @include mq('sp') {
        display: grid;
        gap: rem(12) rem(14);
        grid-template-columns: 1fr 1fr;
    }
}

.p-menu__items {
    margin-top: rem(80);
    border-top: none;
    display: grid;
    gap: rem(40);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include mq('sp') {
        margin-top: rem(60);
        gap: rem(24) rem(11);
        grid-template-columns: 1fr 1fr;
    }
}

.p-menu__item {
    display: none;
}

.p-menu__item.is-show {
    display: contents;
}