.p-news-card {
    display: inline-block;
    &:hover {
        .p-news-card__img {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.p-news-card__img {
    width: 100%;
    overflow: hidden;
    img {
        transition: 0.3s transform;
        aspect-ratio: 518 / 319;
        object-fit: cover;
        width: 100%;
    }
}

.p-news-card__content {
    margin-top: rem(12);
    @include mq('sp') {
        margin-top: rem(8);
    }
}

.p-news-card__title {
    font-size: rem(14);
    font-weight: 700;
    line-height: (24 / 14);
    @include mq('sp') {
        font-size: rem(12);
        line-height: (18 / 12);
    }
}

.p-news-card__date {
    margin-top: rem(12);
    font-size: rem(12);
    line-height: (17 / 12);
    @include mq('sp') {
        margin-top: rem(8);
    }
}

.p-news-card__category {}

.p-news-card--big {
    .p-news-card__content {
        margin-top: rem(16);
    }
    .p-news-card__title {
        font-size: rem(20);
        line-height: (32 / 20);
    }
    .p-news-card__text {
        margin-top: rem(14);
        font-size: rem(14);
        line-height: (24 / 14);
    }
    .p-news-card__date {
        margin-top: rem(14);
        font-size: rem(14);
        line-height: (24 / 14);
    }
    @include mq('sp') {
        .p-news-card__content {
            margin-top: rem(12);
        }
        .p-news-card__title {
            font-size: rem(14);
            line-height: (24 / 14);
        }
        .p-news-card__text {
            margin-top: rem(12);
            font-size: rem(12);
            line-height: (18 / 12);
        }
        .p-news-card__date {
            margin-top: rem(12);
            font-size: rem(12);
            line-height: (17 / 12);
        }
    }
}