.p-top-gallery {
    background: $base-color;
}

.p-top-gallery__inner {
    padding-top: rem(80);
    padding-bottom: rem(80);
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: rem(390);
        height: rem(330);
        background-image: url(../img/bg_coffee-beans2.png);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
        right: rem(-65);
        top: rem(-400);
        z-index: 3;
    }
    @include mq('sp') {
        padding-top: rem(60);
        padding-bottom: rem(100);
        &::after {
            width: rem(169);
            height: rem(143);
            right: rem(-13);
            top: rem(-175);
        }
    }
}

.p-top-gallery__title {
    text-align: center;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: rem(265);
        height: rem(138);
        background-image: url(../img/img_balloon-gallery.svg);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
        right: calc(50% + #{rem(100)});
        top: rem(-105);
        z-index: 3;
    }
    @include mq('sp') {
        &::after {
            width: rem(200);
            height: rem(105);
            left: rem(-37);
            right: initial;
            top: rem(-105);
        }
    }
}

.p-top-gallery__items {
    margin-top: rem(40);
    display: grid;
    gap: rem(24);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include mq('sp') {
        gap: rem(19);
        grid-template-columns: 1fr 1fr;
    }
}

.p-top-gallery__item {
    width: 100%;
    img {
        aspect-ratio: 1;
        object-fit: cover;
        width: 100%;
    }
}

.p-top-gallery__btn {
    text-align: center;
    margin-top: rem(60);
    @include mq('sp') {
        margin-top: rem(40);
    }
}