.p-top-concept {
    padding-bottom: rem(100);
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 92.96875%;
        height: 34.6820%;
        background: $base-color;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    @include mq('sp') {
        padding-bottom: rem(70);
        &::before {
            width: 94.6666%;
            height: rem(100);
        }
    }
}

.p-top-concept__content {
    display: flex;
    justify-content: flex-start;
    gap: rem(80);
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: rem(296);
        height: rem(265);
        background-image: url(../img/bg_coffee-beans.png);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
        right: rem(-41);
        top: rem(-201);
        z-index: 3;
    }
    @include mq('sp') {
        flex-direction: column-reverse;
        &::after {
            width: rem(145);
            height: rem(130);
            right: rem(-38);
            top: rem(-131);
        }
    }
}

.p-top-concept__img {
    width: 46.875%;
    img {
        aspect-ratio: 600 / 764;
        object-fit: cover;
        width: 100%;
    }
    @include mq('sp') {
        width: 94%;
        margin: 0 calc(50% - 50vw);
        img {
            aspect-ratio: 315 / 400.57;
        }
    }
}

.p-top-concept__body {
    width: 36.71875%;
    @include mq('sp') {
        width: 100%;
    }
}

.p-top-concept__title {
    margin-top: rem(20);
}

.p-top-concept__subtitle {
    margin-top: rem(50);
    white-space: nowrap;
    @include mq('sp') {
        margin-top: rem(35);
    }
}

.p-top-concept__text {
    margin-top: rem(46);
    font-size: rem(14);
    font-weight: 500;
    line-height: (28 / 14);
    @include mq('sp') {
        margin-top: rem(29);
    }
}

.p-top-concept__btn {
    margin-top: rem(62);
    @include mq('sp') {
        text-align: center;
    }
}