.c-ribbon {
    position: absolute;
    content: "";
    top: rem(8);
    left: rem(-8);
    background: $main-color;
    color: $text-light;
    font-size: rem(12);
    font-weight: 700;
    line-height: (17 / 12);
    padding: rem(3) rem(14);
    &::before {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        border: none;
        border-bottom: solid rem(5) transparent;
        border-right: solid rem(8) #aaa;
        /*折り返し部分*/
    }
    &::after {
        position: absolute;
        content: '';
        width: 0px;
        height: 0px;
        z-index: 1;
        top: 50%;
        right: rem(-9);
        transform: translateY(-50%);
        border-width: rem(11.5) rem(10) rem(11.5) rem(0);
        border-color: $main-color transparent $main-color $main-color;
        border-style: solid;
    }
}