.c-tab-btn {
    display: inline-block;
    background: $main-color;
    color: $text-light;
    font-weight: 700;
    line-height: (20 / 16);
    padding: rem(23);
    width: 100%;
    max-width: rem(200);
    text-align: center;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: calc(100% - #{rem(4)} * 2);
        height: calc(100% - #{rem(4)} * 2);
        border: 1px $text-light solid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.c-tab-btn--disable {
    background: $disable-color;
}